:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 100%;
  max-width: 390px;
  min-height: 100vh;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row-dd {
  position: relative;
  width: 265px;
  height: 24px;
  margin: 8px 0 0 16px;
  z-index: 10;
}
.chevron-left {
  position: absolute;
  width: 9.06%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 10px;
  height: 17px;
  margin: 3px 0 0 7px;
  background: url(./massets/images/663796fb-0a57-4958-bbc4-a7c4498b7de3.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.my-bank {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 75%;
  top: 0;
  left: 39.25%;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 17.578px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.frame {
  position: relative;
  width: 390px;
  margin: 22px 0 0 0;
  z-index: 2;
  overflow: hidden;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 23px;
  position: relative;
  width: 375px;
  height: 267px;
  margin: 0 0 0 0;
  padding: 0 12px 0 12px;
  z-index: 3;
}
.my-documents {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 194px;
  height: 29px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
  z-index: 4;
}
.frame-2 {
  text-decoration:none;
  flex-shrink: 0;
  position: relative;
  width: 375px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 5;
}
.gov {
  position: absolute;
  width: 10.67%;
  height: 100%;
  top: 0;
  left: 2.13%;
  background: url(./massets/images/d8726524-7a47-4e5c-ad5b-816d62ed7b52.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.frame-3 {
  position: absolute;
  width: 179px;
  height: 38px;
  top: 1px;
  left: 57px;
  z-index: 7;
}
.identity-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 11px;
  left: 7px;
  color: #000000;
  font-family: Roboto, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.vector-4 {
  position: absolute;
  width: 2.67%;
  height: 17px;
  top: 50%;
  left: 94.4%;
  background: url(./massets/images/68a013ee-dbaf-4ee7-9f41-0323b65b35ed.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -47.06%);
  z-index: 9;
}

.frame-21 {
  text-decoration: none;
  flex-shrink: 0;
  position: relative;
  width: 375px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 5;
  margin-top: 300px;
}
.hew{
  display: flex;
  flex-direction:column;
  gap: 15px;
}

.gov {
  position: absolute;
  width: 10.67%;
  height: 100%;
  top: 0;
  left: 2.13%;
  background: url(./massets/images/d8726524-7a47-4e5c-ad5b-816d62ed7b52.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;

}
.frame-22 {
  position: absolute;
  width: 179px;
  height: 38px;
  top: 1px;
  left: 57px;
  z-index: 7;
}
.identity-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 11px;
  left: 7px;
  color: #000000;
  font-family: Roboto, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
